<% include header %>
    <div id="page-title">
        <h2>Categorizacion de Productos</h2>
    </div>

    <div class="row-fluid">
        <div class="lr-page span4 offset4">
            <div id="register-box">
                <div class="row-fluid">
                    <div id="login-form" class="span12">
                        <form name="formulario" method="POST" action="/categoProducto">
                      Categoria:
                  <div input="input-control select">
                    <select class="form-control" id="categoria" name="categoria">
                       <option value="">Seleccionar Categoria</option>
                         <% rows.forEach(function(rows){ %>
                        <option ><%= rows.nombreCategoria %></option>
                       <% }) %>
                       
                    </select>
                     <hr>
                       %>
                    <% if (rows == 'Agregar Categoria') { -%>
                         Agregar categoria:<input class="span12" id="categoria" name="categoria" type="text" value="" placeholder="Obligatorio"  />


                    <% } else { -%>
                        Agregar categoria:<input class="span12" id="categoria" name="categoria" type="text" value="" placeholder="Obligatorio" disabled />

                    <% } -%>
                    Dosis:<input class="span12" id="dosis" name="dosis" type="text" value="" placeholder="Obligatorio"  />

              <div class="actions">
                <button type="submit" class="btn btn-danger span12">Crear Orden de Compra</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include footer %>