<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Inventario Farmacia</title>
	<meta name="description" content=""/>
	<meta name="keywords" content="" />
	<meta name="author" content="CITT"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:title" content=""/>
	<meta property="og:description" content=""/>
	<meta property="og:type" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900">
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="css/layerslider.css" rel="stylesheet" type="text/css">
</head>

</head>
<body>
	<header>
		<div class="container">
			<div class="navbar navbar-inverse">
	    		<div class="navbar-inner">
	          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</a>
					<a class="brand" href=""><img src="img/logo@2x.png" alt="Logo"> Gendarmería de Chile</a>
	          		<div class="nav-collapse collapse">
	            		<ul class="nav">
										<li ><a href="inicio.ejs">Inicio<span>Página Principal</span></a></li>
										<!--Producto-->
										<li class="dropdown">
	                			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos<b class="caret"></b></a>
	                			<ul class="dropdown-menu">
	                  				<li ><a href="registroProducto.ejs">Productos</a></li>
														<li ><a href="categorizarProducto.ejs">Categorizar</a></li>
														
	                			</ul>
	              		</li>
										<!--Proveedor-->
										<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">Proveedores<b class="caret"></b></a>
												<ul class="dropdown-menu">
														<li ><a href="registroProveedor.ejs">Proveedor</a></li>
												</ul>
										</li>

										<!--Orden de Compra-->
										<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">Ordenes de Compra<b class="caret"></b></a>
												<ul class="dropdown-menu">
														<li ><a href="crearOrdenCompra.ejs">Orden de Compra</a></li>
														<li ><a href="registroFactura.ejs">Registro Factura</a></li>
												</ul>
										</li>
										<!--Rebajes-->
										<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">Rebajes de Stock<b class="caret"></b></a>
												<ul class="dropdown-menu">
														<li ><a href="rebajePorCanje.ejs">Rebaje por Canje</a></li>
														<li ><a href="rebajePorDanos.ejs">Rebaje por Daños</a></li>
														<li ><a href="stock.ejs">Stock</a></li>
														<li ><a href="rebajePorMerma.ejs">Rebaje por Merma</a></li>
												</ul>
										</li>
									</ul>
								</div>
						</div>
				</div>
			</div>
		</header>
