<% include header %>
<div id="page-title">
    <h2>Registro de Factura</h2>
</div>
  <div class="row-fluid">
    <div class="lr-page span4 offset4">
      <div id="register-box">
        <div class="row-fluid">
          <div id="login-form" class="span12">
            <form name="formulario" method="POST" action="/addFactura" >
				<div class="row-fluid">
				Numero de Factura:<input class="span12" id="NumeroFactura" name="NumeroFactura" type="text" value="" placeholder="" />

				Valor Neto:<input class="span12" id="ValorNeto" name="ValorNeto" type="text" value="" placeholder="" />

				Iva:<input class="span12" id="Iva" name="Iva" type="text" value="" placeholder="" />

				Total:<input class="span12" id="Total" name="Total" type="text" value="" placeholder="" />

				Numero de Lote:<input class="span12" id="NumeroLote" name="NumeroLote" type="text" value="" placeholder="" />

				Caracteristicas:<input class="span12" id="Caracteristicas" name="Caracteristicas" type="text" value="" placeholder="" />  
				                 
				</div>
				<div class="actions">
                <button type="submit" class="btn btn-danger span12">Registrar Nueva Factura</button>
              	</div>
            </form>
          </div>
        </div>
      </div>
	</div>
</div>
<% include footer %>
