<% include header %>
	<div id="page-title">
			<h2>Registro de Proveedor</h2>
	</div>
		<div class="row-fluid">
			<div class="lr-page span4 offset4">
				<div id="register-box">
					<div class="row-fluid">
						<div id="login-form" class="span12">
							<form name="formulario" method="POST" action="/addProveedor" >
								<div class="row-fluid">
									Tipo de proveedor:
									<div class="input-control select" >
									    <select id="TipoProveedor" name="TipoProveedor" >
									        <option>Licitacion</option>
									        <option>Convenio marco</option>
									        <option>Compra Directa</option>
									    </select>
									</div>
									Nombre: <input class="span12" id="NombreProveedor" name="NombreProveedor" type="text" value="" placeholder=""/>
									Rut: <input class="span12" id="RutProveedor" name="RutProveedor" type="text" value="" placeholder=""/>
									Direccion: <input class="span12" id="Direccion" name="Direccion" type="text" value="" placeholder=""/>
									Formas de Contacto: <input class="span12" id="FormaContacto" name="FormaContacto" type="text" value="" placeholder=""/>
								</div>
								<div class="actions">
									<button type="submit" class="btn btn-danger span12">Ingresar Proveedor</button>
								</div>
							</form>
						</div>
					</div>
				</div>


<% include footer %>
